.cube{
    height: 5px;
    width: 1465px;
    background-color: rgb(0, 0, 0);
}
.long{
    height: 260px;
    width: 5px;
    background-color: rgb(0, 0, 0);
    margin-right: 900px;
}
nav img{
    width: 6%;
    position: relative;
    margin: 20px;
}
body{
    font-family: 'Quicksand', sans-serif;
    color: black;
    background-color: white;
}
.top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 28px;
    margin-top: -10px;
}
nav h1{
    margin-right: 980px;
}
.Titre{
    text-align: center;
    margin-left: 180px;
}
.align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.moove{
    margin-top: 48px;
}